body {
  margin: 0px;
  background-color: #f0ecd8;
  background-image: url("../img/greyzz.png");
  font-family: 'Quicksand', Arial, serif;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*Bootstrap classes*/

.navbar{
	border-radius: 0px;
}
.navbar-header{
	font-size: 18px;
	font-weight: 800;
}

.navbar-default{
	border: none;
}

/*Message Main Styles*/
#location{
	margin-top: 15px;
	color: #9A3234;
	font-weight: 800;
	font-size: 20px;
}

.GeoTextTitle {
  background-color: #1d696a;
  padding: 20px;
  text-align: center;
  margin: auto;
  color: #ffffff;
}

.content {
  margin: 0 auto;
  width: 75%;
}

#location_name{
	font-size: 18px;
}
.message_container{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 30px;
	height: 100%;
	background-color: white;
	border-left: 5px solid red;
}
.message_photo{
	margin-top: 20px;
}
.sender_name{
	font-weight: 800;
	font-size: 16px;
}

/*/Login Page*/
.welcome{
	font-size: 20px;
	font-weight: bold;
	position:relative;
}

/*List page Style */

.compose_button{
	margin: 20px 30px;
}
.list_container{
	margin-top: 20px;
	margin-bottom: 5px;
	display: inline-block;
	margin-left: 30px;
}
.preview_message{
	display: inline-block;
	font-style: italic;
}

.contact_name{
	font-weight: 800;
	font-size: 18px;
	color: #9A3234;
}

.button_container{
	background: #FFFFF9;
}
/*Sticky footer*/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 50px;
}

.footer{
	background-color: black;
}

.footer_text{
	color: white;
	position: absolute;
	margin: 8px;
	bottom: 0;
}
